{% load static %}

    <style>
        .container {
            padding: 0;
            margin: 0 auto;
        }
        .container div {
              width: 45%;
                max-width: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
              {# 1rem = 16px #}
              border-radius: 1rem;
                flex-direction: column;
                box-shadow: 0 0 1rem darkgray;
        }

        div img {
            width: 100%;
            border-radius: 1rem;
        }
    </style>
        {# my-5는 수직으로 5만큼 마진 여백 #}
    <div class="container my-3">
        {# 게시글을 이미지 기반으로 작성할 공간 #}
        {% for article in article_list %}
            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <img src="{{ article.image.url }}" alt="">
                </a>
                <span class="NNS_B m-2">{{ article.title }}</span>
            </div>
        {% endfor %}
    </div>

    {# 외부에서 스크립트 가져오기 #}
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {# 페이지 넘버를 표현하는 방법이나 스타일을 저장하는 html을 따로 만들어서 불러오기 #}
    {% include 'snippets/pagination.html' %}

    <div class="text-center my-5">
        <a href="{% url 'articleapp:create' %}"
           class="btn btn-dark rounded-pill material-icons">
            brush
        </a>
        <a href="{% url 'articleapp:create' %}"
           class="btn btn-outline-dark rounded-pill px-5">
           Create Article
        </a>
    </div>