.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_footer_button {
    margin-top: 2rem;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.profile_image {
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

.round_button {
    color: black;
    /* 글씨 꾸미기(밑줄 등등) */
    text-decoration: none;
    /* 0 0(2개 모두 그림자 위치) 3px(그림자 크기) black(그림자 색깔) */
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

/* 어떤 행동을 했을 때 일어나는 조건 */
/* round_button에 마우스를 올렸을 때 */
.round_button:hover {
    color: dimgray;
}
/* 게시하는 사진에 적용할 수 있는 클래스 */
.article_image {
    border-radius: 2rem;
    width: 70%;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    font-size: 1.1rem;
    /* 왼쪽 정렬 */
    text-align: left;
    /*margin: 상하;, 좌우; */
    margin: 2rem 0;
}

.comment_box {
    border: solid;
    border-color: #b0b0b0;
    text-align: left;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 500px)  {
    html {
        /* Default font-size = 16px */
        /* rem은 html font-size의 영향을 맞는 크기 단위이기 때문에 */
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}