{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        .container div {
              width: 280px;
              display: flex;
              justify-content: center;
              align-items: center;
              {# 1rem = 16px #}
              border-radius: 1rem;
                flex-direction: column;
                box-shadow: 0 0 1rem darkgray;
    }

        div img {
            width: 100%;
            border-radius: 1rem;
        }
    </style>
        {# my-5는 수직으로 5만큼 마진 여백 #}
    <div class="container my-5">
        {# 게시글을 이미지 기반으로 작성할 공간 #}

        {% for article in article_list %}

            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <img src="{{ article.image.url }}" alt="">
                </a>
                <span class="NNS_B m-2">{{ article.title }}</span>
            </div>

        {% endfor %}
    </div>

{# 외부에서 스크립트 가져오기 #}
    <script src="{% static 'js/magicgrid.js' %}"></script>
{% endblock %}